!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')

  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#')= project
          .nav-collapse
            ul.nav
              li.active
                a(href='/') Home
              li
                a(href='/about') About
              li
                a(href='/contact') Contact
            - if (typeof session.user !== 'undefined')
                p(class='navbar-text pull-right') Logged in as &nbsp;
                    a(href='/account')= session.user
                    &nbsp;|&nbsp;
                    a(href='/sign-out') Sign out

    #{flashMessages}

    .container!=body

       hr
       footer
         p &copy; Company 2012


    script(src='/javascripts/lib/jquery-1.7.1.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/lib/smiley-slider.js')
    script
        $(document).ready(function() {
            if ($('#slider').length) {

                var s = new SmileySlider(document.getElementById('slider'));

                s.position(0); // make it sad
                s.position(1); // make it happy

                var p = s.position(); // get it's position
                s.position(p / 2); // make it half as happy

                s.position(function (p) {
                    // do something when it changes
                    $('input#mood-value').prop('value', p);
                });
            }
        });

//            var opts = {
//              lines: 12, // The number of lines to draw
//              length: 0, // The length of each line
//              width: 9, // The line thickness
//              radius: 21, // The radius of the inner circle
//              color: '#000', // #rgb or #rrggbb
//              speed: 1, // Rounds per second
//              trail: 86, // Afterglow percentage
//              shadow: true, // Whether to render a shadow
//              hwaccel: false // Whether to use hardware acceleration
//            };
//            var target = document.getElementById('spinner');
//            var spinner = new Spinner(opts);
//            spinner.spin(target);
//            spinner.stop();